[user]
	useconfigonly = true
	email = hrach.cz@gmail.com
	name = Jan Skrasek
	signingkey = 2ADB11EEB531C9BF
[includeIf "gitdir:/Users/hrach/storage/rohlik/"]
	path = ~/.gitconfig-rohlik
[core]
	excludesfile = ~/.gitignore_global
	fscache = true
	editor = nano
	autocrlf = Input
#	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[alias]
	s = status
	co = commit
	ca = commit --amend
	p = push
	pf = push --force-with-lease
	pu = push -u
	b = branch -v
	c = checkout
	ch = checkout
	l = log --pretty=format:'%Cred%h%Creset | %Cgreen%s%Creset [%ar by %an]'
	g = log --all --graph --decorate --oneline
	graph = log --all --graph --decorate --oneline
	unstage = reset HEAD --
	last = log -1 HEAD
	upstream = log --oneline master..origin/master
	pending = log --oneline origin/master..master
	pr = pull --rebase --prune
	rc = rebase --continue
	rs = rebase --skip
	ra = rebase --abort
	mt = mergetool
	rim = "!git rebase -i $(if git rev-parse --verify development > /dev/null 2> /dev/null; then echo "development"; elif git rev-parse --verify main > /dev/null 2> /dev/null; then echo "main"; else echo "master"; fi)"
	rid = rebase -i develop
	standup = "!git log --reverse --branches --since='$(if [[ Mon == $(date +%a) ]]; then echo last Friday; else echo yesterday; fi)' --author=$(git config --get user.email) --format=format:'%C(cyan) %ad %C(yellow)%h %Creset %s %Cgreen%d' --date=local"
	showtrackedignored = ls-files -i --exclude-standard
	optimize = !git prune && git gc --aggressive && git repack -a && git prune-packed
[mergetool]
	prompt = false
	keepBackup = false
	keepTemporaries = false
[merge]
	tool = idea
	ff = false
	conflictstyle = zdiff3
[mergetool "winmerge"]
	name = WinMerge
	trustExitCode = true
	cmd = winmergeu.exe \"$MERGED\"
[mergetool "idea"]
	name = Idea
	trustExitCode = false
	cmd = idea.cmd merge $(cd $(dirname \"$LOCAL\") && pwd)/$(basename \"$LOCAL\") $(cd $(dirname \"$REMOTE\") && pwd)/$(basename \"$REMOTE\") $(cd $(dirname \"$BASE\") && pwd)/$(basename \"$BASE\") $(cd $(dirname \"$MERGED\") && pwd)/$(basename \"$MERGED\")
[diff]
	tool = winmerge
	algorithm = default
	guitool = winmerge
	indentHeuristic = true
[difftool "winmerge"]
	name = WinMerge
	trustExitCode = true
	cmd = winmergeu.exe -e -u \"$LOCAL\" \"$REMOTE\"
[gui]
	encoding = utf-8
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[push]
	default = current
	autoSetupRemote = true
	followTags = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[pull]
	ff = only
[credential]
	helper = manager
[sequence]
	editor = rebase-editor -c --no-alternate-screen
[rebase]
	useBuiltin = true
	autoSquash = true
	autoStash = true
	updateRefs = true
[rerere]
	enabled = true
	autoupdate = true
[stash]
	useBuiltin = true
[commit]
	gpgsign = false
[gc]
	auto = 0
[init]
	defaultBranch = main
[branch]
	autosetuprebase = always
        sort = -committerdate
[tag]
        sort = version:refname
